################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OnionArchAPI/FileContentIndex/151bb182-dbee-4fe0-b858-80cdccd659c9.vsidx
/.vs/OnionArchAPI/FileContentIndex/28f2b62e-f009-476e-b22a-70cdd1eef4d5.vsidx
/.vs/OnionArchAPI/FileContentIndex/365a61d8-069b-4933-a4b6-9cbd6e28e898.vsidx
/.vs/OnionArchAPI/FileContentIndex/59136c72-e757-4042-be92-9547d01b4bb0.vsidx
/.vs/OnionArchAPI/FileContentIndex/6f6bb7af-2a5f-4c43-9387-09432bd39b0c.vsidx
